/* google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-google-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
}
*{
    margin:0;
    padding: 0;
}
/* shared style */
.display-flex{
    display: flex;
}
/* black-1 */
.black-primary{
    color:#131313;
}
/* black-2 */
.black-secondary{
    color:#424242;
}
/* black-3 */
.dark-3{
    color:rgba(114, 114, 114, 1);
}
.btn-primary{
    font-size: 1.25rem;
    color:white;
    font-weight: 600;
    padding: 20px 25px;
    background-color: #FF900E;
    border:none;
    border-radius: 8px;
}
.text-color{
    color:rgba(255, 144, 14, 1);
}
/* header style */
  .header{
    background-color: rgba(255, 144, 14, 0.1);
  }
/* nav style */
.company{
    max-width: 1440px;
    margin:0 auto;
    justify-content: space-between;
}
.nav-title{
    font-weight: 700;
    font-size: 2.8rem;
    margin:20px 0;
}
.menu-bar{
    margin-top: 20px;
}
.menu-bar li{
    list-style: none;
    margin-right: 25px;
    margin-top: 10px;
}
.text-link{
    text-decoration: none;
    font-size: 1.25rem;
}
.nav-details{
    max-width: 860px;
    margin: 105px auto;
}
.company-title{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.company-details{
    margin: 25px 0;
    text-align: center;
}
.btn-area{
    text-align: center;
}
.image-area{
    max-width: 1440px;
    margin: 0 auto;
}
.image-area img{
    width:100%;
}

/* feature section style */
.feature-title{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}
#quick-list{
    font-weight: 500;
    color:rgba(114, 114, 114, 1);
}
.Our-Features{
    max-width: 1440px;
    margin: 100px auto;
}
.feature-image{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 1.25rem;
}
.feature-text{
    align-items: center;
    max-width: 550px;
    margin-left: 100px;
}
.feature-details{
    margin:30px 0;
}
img{
    width:100%;
}


/* feature style  */
.feature{
    max-width: 1440px;
    margin: 50px auto;
    justify-content: space-between;
}
.our-feature-text{
    max-width: 580px;
    
}
.our-feature-image{
    max-width: 600px;
}
.our-feature-title{
    font-size: 2.8rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 10px;
    margin: 10px 0;
}
.feature-box{
    box-shadow: 0 5px 5px grey;
    margin:15px 0;
    padding: 30px;
}
.box-title{
    font-size: 1.25rem;
    font-weight: 600;
}
.box-details{
    margin-top: 10px;
}
.btn-text{
    font-size: 4rem;
    font-weight: 700;
}
#position{
    margin-top: -100px;
    margin-left: -100px;
}
/* facts style */
.facts{
    max-width: 1440px;
    margin: 50px auto;
}
.facts-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom:10px ;
}
.facts-details{
    margin-bottom: 100px;
}
.facts-box-contain{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap:30px;
}
.facts-box{
    max-width: 160px;
    height: 130px;
    padding: 45px 37px;
    border: 1px solid #FF900E; 
    border-radius: 8px;
}
.logo{
    max-width: 45px;
    margin: 0 auto;
}
.digit{
    font-size: 2.8rem;
    font-weight: 600;
    text-align: center;
}
.logo-title{
    text-align: center;
}
/* sponspore style */
.Sponspors{
    max-width: 1440px;
    margin: 50px auto;
}
.sponspors-contain{
    max-width: 550px;
    margin: 20px auto;
}

.sponspor-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
}
.sponspore-details{
    text-align: center;
}

.sponspore-img{
    margin-top: 40px;
    justify-content: space-between;
}

/* footer style */
.footer-contain{
    max-width:1440px;
    background-color:#FFF4E7 ;
    margin: 10px auto;
    text-align: center;
    padding: 40px 0;
}
/* media - query style */

@media screen and (max-width:576px) {
    .menu-bar,
    .company,
    .Our-Features,
    .feature-text,
    .feature,
    .sponspore-img{
        flex-direction: column;
    }
    .menu-bar{
        align-items: center;
    }
    .feature-image{
        grid-template-columns: repeat(1,1fr);
    }
    .feature-text{
        margin-left: 10px;
    }
    #position{
        margin-top:10px;
        margin-left:10px;
    }
    .facts-box-contain{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        gap:30px;
    }
}
@media screen and (min-width:576px) and (max-width:900px) {
    .feature{
        flex-direction: column;
    }
    .our-feature-image{
        width:100%;
    }
    #position{
        margin-top:10px;
        margin-left:10px;
    }
    .our-feature-text{
        max-width: 100%;
        
    }
}